<h2 matDialogTitle>{{editMode ? 'Редактировать' : 'Добавить'}} книгу</h2>
<mat-dialog-content>
  <app-book-edit [book]="data" (submit)="onSubmit($event)"></app-book-edit>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button matDialogClose>Закрыть</button>
  <button mat-raised-button color="primary" (click)="submit($event)">Сохранить</button>
</mat-dialog-actions>
