.mat-form-field {
  width: 100%;
}

.grouped-fields {
  display: flex;
  align-items: baseline;

  .grouped-fields__year {
    margin-left: 10px;
    width: 125px;
  }
}

.author-fields__new {
  display: flex;
  justify-content: center;
}

.spinner {
  top: 10px;
}
