<form #form="ngForm" (ngSubmit)="onSubmit(form)" [server-validation]="errorEmitter">
  <mat-form-field>
    <input matInput name="title" placeholder="Название книги" [(ngModel)]="book.title" [maxLength]="30" required>
    <mat-error *ngIf="form.controls.title?.hasError('required')">
      Обязательное поле
    </mat-error>
    <mat-error *ngIf="form.controls.title?.hasError('maxLength')">
      Строка не должна быть длиннее 30 символов
    </mat-error>
    <mat-error *ngFor="let err of getErrors(form.controls.title)">
      {{err}}
    </mat-error>
  </mat-form-field>

  <div class="grouped-fields" *ngFor="let author of book.authors; let i=index">
    <mat-form-field class="grouped-fields__author">
      <input matInput [name]="'firstName'+i" placeholder="Имя" [(ngModel)]="author.firstName" [maxLength]="20" required>
      <mat-error *ngIf="form.controls['firstName'+i]?.hasError('required')">
        Обязательное поле
      </mat-error>
      <mat-error *ngIf="form.controls['firstName'+i]?.hasError('maxLength')">
        Строка не должна быть длиннее 20 символов
      </mat-error>
      <mat-error *ngFor="let err of getErrors(form.controls['firstName'+i])">
        {{err}}
      </mat-error>
    </mat-form-field>
    <mat-form-field class="grouped-fields__author">
      <input matInput [name]="'lastName'+i" placeholder="Фамилия" [(ngModel)]="author.lastName" [maxLength]="20" required>
      <mat-error *ngIf="form.controls['lastName'+i]?.hasError('required')">
        Обязательное поле
      </mat-error>
      <mat-error *ngIf="form.controls['lastName'+i]?.hasError('maxLength')">
        Строка не должна быть длиннее 20 символов
      </mat-error>
      <mat-error *ngFor="let err of getErrors(form.controls['lastName'+i])">
        {{err}}
      </mat-error>
    </mat-form-field>
    <button type="button" mat-icon-button (click)="deleteAuthor(author)">
      <mat-icon color="warn">remove_circle_outline</mat-icon>
    </button>
  </div>
  <div class="author-fields__new">
    <button type="button" mat-button (click)="addAuthor()">
      Добавить автора
      <mat-icon color="primary">add_circle_outline</mat-icon>
    </button>
  </div>

  <mat-form-field>
    <input matInput type="number" name="pageCount" placeholder="Количество страниц" [(ngModel)]="book.pageCount" [min]="0" [max]="10000" required>
    <mat-error *ngIf="form.controls.pageCount?.hasError('required')">
      Обязательное поле
    </mat-error>
    <mat-error *ngIf="form.controls.pageCount?.hasError('max')">
      Значение не должно превышать 10000
    </mat-error>
    <mat-error *ngIf="form.controls.pageCount?.hasError('min')">
      Значение должно быть больше 0
    </mat-error>
    <mat-error *ngFor="let err of getErrors(form.controls.pageCount)">
      {{err}}
    </mat-error>
  </mat-form-field>

  <div class="grouped-fields">
    <mat-form-field>
      <input matInput name="issuer" placeholder="Издатель" [(ngModel)]="book.issuer" [maxLength]="30">
      <mat-error *ngIf="form.controls.issuer?.hasError('maxLength')">
        Строка не должна быть длиннее 30 символов
      </mat-error>
      <mat-error *ngFor="let err of getErrors(form.controls.issuer)">
        {{err}}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="grouped-fields__year">
      <input matInput type="number" name="issueYear" placeholder="Год публикации" [(ngModel)]="book.issueYear" [min]="1800" [max]="currentYear">
      <mat-error *ngIf="form.controls.issueYear?.hasError('max')">
        Значение не должно превышать {{currentYear}}
      </mat-error>
      <mat-error *ngIf="form.controls.issueYear?.hasError('min')">
        Значение должно быть больше 1800
      </mat-error>
      <mat-error *ngFor="let err of getErrors(form.controls.issueYear)">
        {{err}}
      </mat-error>
    </mat-form-field>
  </div>

  <mat-form-field>
    <input matInput name="isbn" placeholder="ISBN код" [(ngModel)]="book.isbn" pattern="^(?:ISBN(?:-13)?:?\ )?(?=[0-9]{13}$|(?=(?:[0-9]+[-\ ]){4})[-\ 0-9]{17}$)97[89][-\ ]?[0-9]{1,5}[-\ ]?[0-9]+[-\ ]?[0-9]+[-\ ]?[0-9]$">
    <mat-error *ngIf="form.controls.isbn?.hasError('pattern')">
      Поле должно быть вылидным
    </mat-error>
    <mat-error *ngFor="let err of getErrors(form.controls.isbn)">
      {{err}}
    </mat-error>
  </mat-form-field>

  <div class="grouped-fields">
    <mat-form-field>
      <input matInput name="imageUrl" placeholder="Изображение" [(ngModel)]="book.imageUrl">
      <mat-error *ngFor="let err of getErrors(form.controls.imageUrl)">
        {{err}}
      </mat-error>
    </mat-form-field>
    <button type="button" mat-icon-button (click)="fileInput.click()" *ngIf="!progress"><mat-icon color="primary">image</mat-icon></button>
    <mat-progress-spinner class="spinner" color="primary" mode="determinate" [diameter]="35" [value]="progress" *ngIf="progress"></mat-progress-spinner>
  </div>
</form>

<input #fileInput type="file" multiple (change)="browserImageClick($event)" hidden>
