<h2 matDialogTitle>{{data.title}}</h2>
<mat-dialog-content>
  {{data.message}}
</mat-dialog-content>
<mat-dialog-actions *ngIf="data.showClose">
  <button mat-raised-button matDialogClose>Close</button>
</mat-dialog-actions>
