<h2 matDialogTitle>{{data.title}}</h2>
<mat-dialog-content>
  {{data.message}}
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button [matDialogClose]="dialogResult.NO">No</button>
  <button mat-raised-button [matDialogClose]="dialogResult.YES" color="warn">Yes</button>
</mat-dialog-actions>
