<div class="controls-container">
  <mat-form-field>
    <mat-select [value]="sorting.type" (valueChange)="changeSorting($event, sorting.direction || 1)" placeholder="Сортировка">
      <mat-option>Без сортировки</mat-option>
      <mat-option [value]="1">По названию</mat-option>
      <mat-option [value]="2">По году публикации</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-radio-group *ngIf="sorting.type" [ngModel]="sorting.direction" (ngModelChange)="changeSorting(sorting.type, $event)">
    <mat-radio-button [value]="1">По возрастанию</mat-radio-button>
    <mat-radio-button [value]="2">По убыванию</mat-radio-button>
  </mat-radio-group>
</div>
<div class="books-container">
  <app-book-item *ngFor="let book of (books$ | async)" [value]="book"></app-book-item>
</div>
