app-book-item {
  margin: 10px;

  .book-property {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .book-property__title {
      font-weight: bold;
      flex: 50%;
    }
    .book-property__value {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  .mat-card {
    max-width: 250px;

    .mat-card-image {
      max-height: 400px;
    }

    .mat-card-header-text {
      overflow: hidden;
    }
    .mat-card-title {
      font-size: 1.2em;
    }
    .mat-card-title, .mat-card-subtitle {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}
