<mat-card>
  <mat-card-header>
    <mat-card-title>{{value.title}}</mat-card-title>
    <mat-card-subtitle>{{prepareAuthorsText(value)}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="value.imageUrl || 'http://via.placeholder.com/300x400'" [alt]="value.title">
  <mat-card-content>
    <div class="book-property">
      <div class="book-property__title">Страниц:</div>
      <div class="book-property__value">{{value.pageCount}}</div>
    </div>
    <div class="book-property">
      <div class="book-property__title">Издатель:</div>
      <div class="book-property__value">{{value.issuer}}</div>
    </div>
    <div class="book-property">
      <div class="book-property__title">Год публикации:</div>
      <div class="book-property__value">{{value.issueYear}}</div>
    </div>
    <div class="book-property">
      <div class="book-property__title">ISBN:</div>
      <div class="book-property__value">{{value.isbn}}</div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="editClick(value)">Edit</button>
    <button mat-button color="warn" (click)="deleteClick()">Delete</button>
  </mat-card-actions>
</mat-card>
