<mat-toolbar>
  <span>Kaspersky Books</span>
  <span class="spacer"></span>
  <button mat-button (click)="addBook()">
    Добавить книгу
    <mat-icon color="primary">add_circle_outline</mat-icon>
  </button>
</mat-toolbar>
<router-outlet></router-outlet>
