/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink";

body {
  margin: 0;
}

.edit-dialog {
  @media screen and (max-width: 540px) {
    max-width: 100% !important;
    width: 100% !important;
    height: 100%;
    margin-top: 0;
  }
  @media screen and (max-width: 444px) {
    .grouped-fields .grouped-fields__author {
      width: 46%;
    }
    .grouped-fields .grouped-fields__year {
      width: 50px !important;
    }
  }
}
